.shop-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;

  &__logo {
    text-decoration: none;
    color: #a1d3a2;
    font-size: 3rem;
    font-family: "Heebo", sans-serif;
  }

  &__info {
    color: #5a5a5a;
    text-decoration: none;
    display: flex;
    align-items: flex-end;
    img {
      width: 56px;
      height: auto;
    }
    span {
      font-size: 20px;
      font-family: "Lato", sans-serif;
    }
  }
}
