.spinner {
  display: flex;
  justify-content: center;
}

@keyframes ldio-tki2nmsyd8 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.ldio-tki2nmsyd8 div {
  left: 91.17999999999999px;
  top: 25.22px;
  position: absolute;
  animation: ldio-tki2nmsyd8 linear 1.333333333333333s infinite;
  background: #5cbd5d;
  width: 11.64px;
  height: 34.92px;
  border-radius: 5.82px / 17.46px;
  transform-origin: 5.82px 71.78px;
}
.ldio-tki2nmsyd8 div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.2307692307692306s;
  background: #5cbd5d;
}
.ldio-tki2nmsyd8 div:nth-child(2) {
  transform: rotate(27.692307692307693deg);
  animation-delay: -1.128205128205128s;
  background: #5cbd5d;
}
.ldio-tki2nmsyd8 div:nth-child(3) {
  transform: rotate(55.38461538461539deg);
  animation-delay: -1.0256410256410255s;
  background: #5cbd5d;
}
.ldio-tki2nmsyd8 div:nth-child(4) {
  transform: rotate(83.07692307692308deg);
  animation-delay: -0.9230769230769229s;
  background: #5cbd5d;
}
.ldio-tki2nmsyd8 div:nth-child(5) {
  transform: rotate(110.76923076923077deg);
  animation-delay: -0.8205128205128204s;
  background: #5cbd5d;
}
.ldio-tki2nmsyd8 div:nth-child(6) {
  transform: rotate(138.46153846153845deg);
  animation-delay: -0.7179487179487178s;
  background: #5cbd5d;
}
.ldio-tki2nmsyd8 div:nth-child(7) {
  transform: rotate(166.15384615384616deg);
  animation-delay: -0.6153846153846153s;
  background: #5cbd5d;
}
.ldio-tki2nmsyd8 div:nth-child(8) {
  transform: rotate(193.84615384615384deg);
  animation-delay: -0.5128205128205128s;
  background: #5cbd5d;
}
.ldio-tki2nmsyd8 div:nth-child(9) {
  transform: rotate(221.53846153846155deg);
  animation-delay: -0.4102564102564102s;
  background: #5cbd5d;
}
.ldio-tki2nmsyd8 div:nth-child(10) {
  transform: rotate(249.23076923076923deg);
  animation-delay: -0.30769230769230765s;
  background: #5cbd5d;
}
.ldio-tki2nmsyd8 div:nth-child(11) {
  transform: rotate(276.9230769230769deg);
  animation-delay: -0.2051282051282051s;
  background: #5cbd5d;
}
.ldio-tki2nmsyd8 div:nth-child(12) {
  transform: rotate(304.61538461538464deg);
  animation-delay: -0.10256410256410255s;
  background: #5cbd5d;
}
.ldio-tki2nmsyd8 div:nth-child(13) {
  transform: rotate(332.3076923076923deg);
  animation-delay: 0s;
  background: #5cbd5d;
}
.loadingio-spinner-spinner-miev1mj45tj {
  width: 194px;
  height: 194px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}
.ldio-tki2nmsyd8 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-tki2nmsyd8 div {
  box-sizing: content-box;
}
